# Ignore everything by default
*

# Allow explicitly
!src/
!config/
!public/
!packages/
!.eslint.config.mjs
!index.html
!LICENSE
!package-lock.json
!package.json
!pnpm-lock.yaml
!postcss.config.mjs
!tsconfig.json
!next-env.d.ts
!next.config.ts